<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
	<!-- 	Altbase에서는 이 옵션을 사용하면 Insert문등이 중복으로 호출되는 오류가 있음. 꼭 기본값인 false로 유지해야함. -->
	<!-- 	<setting name="useGeneratedKeys" value="true" /> -->
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="aggressiveLazyLoading" value="false"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>


		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logPrefix" value="mapper." />

	</settings>

	<typeAliases>
		<typeAlias alias="hashMap" type="java.util.HashMap" />
		<typeAlias alias="map" type="java.util.Map" />
		<typeAlias alias="list" type="java.util.List" />
		<typeAlias alias="camelMap" type="com.itcall.batch.common.type.CamelMap"/>
	</typeAliases>

<!-- 	<typeHandlers>
	</typeHandlers> -->

</configuration>
